.liststock-container {
    padding: none;
}

.liststock-table th,
.liststock-table td {
    text-align: center;
    vertical-align: middle;
}

.liststock-table thead tr th {
    background-color: #218282;
    color: white;
}

.liststock-table tbody tr td {
    color: #218282;
}

.action-btns .btn {
    margin: 2px;
}

.liststock-title {
    color: #218282;
}

.liststock-filter {
    background-color: #218282;
    color: white;
}

.liststock-option {
    background-color: #218282;
    color: white !important;
}

.liststock-option a {
    color: white !important;
}
.liststock-option a:hover { 
    opacity: 0.1;
    background: none;
}
.liststock-searchinput {
    color: #218282;
}

.liststock-searchinput::placeholder {
    color: #218282;
}

/* PHẦN PHÂN TRANG (PAGINATION) Y HỆT LIST PRODUCT */
.liststock-pagination .page-link {
    background-color: #218282;
    color: white;
    border: none;
}

.liststock-pagination .page-link:hover {
    background-color: white;
    color: #218282;
    border: 1px solid #218282;
}

.liststock-pagination .active .page-link {
    background-color: #125e5e;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* RESPONSIVE MOBILE Y HỆT LIST PRODUCT */
@media (max-width: 600px) {
    .liststock-filter-search-container {
        flex-direction: column;
    }

    .liststock-searchinput {
        width: 100% !important;
        margin-top: 5px;
    }

    .liststock-action-btns {
        display: flex;
        flex-direction: column;
    }

    .liststock-action-btns .btn {
        width: 100%;
        margin-bottom: 5px;
    }

    .liststock-container {
        flex-direction: column !important;
        gap: 10px;
    }

    .liststock-filter-container {
        display: flex;
        justify-content: flex-end;
    }
}