# Server
PORT=3000

# JWT
JWT_SECRET=your_jwt_secret

# Session
Ad_Session_Secret=your_session_secret

# Email (SMTP)
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password

# Database
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=mysql
DB_DIALECT=mysql

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Frontend
FRONTEND_URL=http://localhost:8080