# Google OAuth Client ID
REACT_APP_GOOGLE_CLIENT_ID=your_google_client_id

# OpenRouteService API Key
REACT_APP_ORS_API_KEY=your_ors_api_key

# Backend API URL
REACT_APP_BACKEND_URL=http://localhost:3000

# Storage Secret
REACT_APP_STORAGE_SECRET=your_storage_secret